google-cloud-api-keys
google-cloud-speech
google-cloud-texttospeech
fairscale
fire
sentencepiece
torch
pygame
pvrecorder
pynput
python-statemachine
boto3
dataclasses-json
transformers
huggingface-hub
optimum
black